# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# dependencies
node_modules/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# logs
*.log

# dotenv environment files
.env
.env.*

# editor directories and files
.vscode/
.idea/

# pnpm & bun
pnpm-lock.yaml
bun.lockb

# iOS Pods (si usas eject)
ios/Pods/
